body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #e5e7eb;
}
.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 0px;
  background-color: #ffffff;
  width: 300px;
  height: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
}
.profile-container img {
  height: 120px;
  width: 120px;
  border-radius: 60%;
  margin-bottom: 0px;
  border: 3px solid rgba(137, 32, 46, 0.8);
  border-style: solid;
}
.profile-container p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.name-heading {
  margin-bottom: 0px;
  font-size: 23px;
  font-weight: bold;
}
.profile-bio{
  margin-top: 0px;
  color: #6b7280;
  line-height: 1.5;
  font-size: 13px;
}