body {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    

}

p   {
    font-family: roboto, arial;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    width: 310px;
    height: 360px;
    border-width: 2px;
    border-style: solid;
    padding: 35px 35px 35px 35px;
    border-radius:10px;
    background-color:#ffffff ;
    border-width: 0px ;
    border-style: solid;
    box-shadow: 0px 0px 5px 0.01px #6b7280;
    
}
.luffy {
    display:flex;
    justify-content: center;
    margin-top: 3px;
    height: 120px;
    width: 120px;
    border-width: 10px;
    border: solid;
    border-radius: 60px;
    border-color: rgb(64, 64, 203);
}

.card_name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 25px;
}

.luffy_bio {
    font-size: 14px;
    text-align: center;
    color: #6b7280;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px ;
}