body {
	background-color: #e5e7eb;
	align-items: center;
	display: flex;
	justify-content: center;
}

#card-container {
	background-color: #ffffff;
	width: 305px;
	height: 290px;
	border-radius: 10px;
	border: 1px solid lightgray;
	padding: 20px 7px 7px 7px;
	/*	margin: 250px auto;*/
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
	box-shadow: 0px 0px 50px 0px lightgray;
}

#profile-card {
	width: 120px;
	height: 120px;
	border-radius: 70px;
	border: #8b5cf6 solid;
}

img {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 70px;
}

h1, p {
	font-family: sans-serif;
}
h1 {
	margin-bottom: 0px;
	font-size: 26px;
}

p {
	color: #6b7280;
	width: 270px;
	margin-top: 10px;
}
