body{
  margin: 0;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  border: 1px solid;
  background-color: #1f2937;
  gap: 90px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

ul li a:hover:not(.active) {
  background-color: #374151;
  color: #60a5fa;
}

ul li a.active {
  background-color: #60a5fa;
}
ul li a.active:hover {
  background-color: #374151;
  color: #60a5fa;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

h1 {
  margin-bottom: 0px;
 }

p {
  color: gray;
  font-size: 13px;
}
