body {
	background-color: #f9fafb;
	margin: 0;
	font-family: sans-serif;
	text-align: center;
}

.nav-bar {
	background-color: #1f2937;

}

ul {
	display: flex;
	justify-content: space-evenly;
	margin: 0;
}

ul li {
	list-style-type: none;
	padding: 20px;

}

ul li a {
	text-decoration: none;
	color: #f3f4f6;
	font-size: 20px;
}

h1 {
	color: #1f2937;
}

p {
	color: #6b7280;
}