body{
    background-color: #f5f5f5;   
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.click_btn{
    width: 100px;
    height: 40px;
    background-color:#ffffff ;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.click_btn:hover{
    color: white;
    background-color: #3b82f6 ;
    border-color: #2563eb ;
    border-width: 2px;
}
