body {
	background-color: #0f172a;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
}

.container {
	text-align: center;
	color: #ffffff;
	width: 600px;
}

.container h1 {
	font-size: 48px;
}
.container p {
	color:	#94a3b8;
	font-size: 20px;
	line-height: 1.5; /* in step 6 add space for readability */
}

.container button {
	padding: 20px;
	border-radius: 10px;
	width: 220px;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #f59e0b;
	border: 1px solid black;
	box-shadow: 0 1.3px 7px 1px rgba(245, 158, 11, 0.3), 0px 1px 10px 1px rgba(245, 158, 11, 0.4);
}